 



body{
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	font-weight: 300;
	 
}

h1,h2,h3,h4 { 
	margin: 0;
	padding:0;
}

h3{
	font-size:20px;
	color: $brand-color;
}

h4{
	font-size:18px;
	font-weight:400;
	color: $brand-color-secundary;
}


p{
	font-size:16px;
	color: $color-text;
}	

blockquote{ margin	:0;

	p{
		font-size:30px;
		color: $brand-color-secundary;
		text-align: center;
	}
}

strong{
		font-weight: 400;
}


 