
.icon-clock:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-linkedin-squared:before { content: '\e804'; } /* '' */
.icon-gplus-squared:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-thumbs-up:before { content: '\e807'; } /* '' */
.icon-ok-1:before { content: '\e808'; } /* '' */